.detailsSection{
    background-size: cover;
}
.detailsPlayBtn{
    color: black;
}
.detailsPlayBtn:hover{
    transform: scale(1.1);
}
.detailsEpisodeSection{
    margin-top:2rem;
    margin-bottom:2rem;
}
.detailsDescription{
    margin-top: 1rem;
}
