.indexBackgroundSection {
  background-image: url("../../Images/background_netflix.jpg");
}
.indexSubSections {
  min-height: 70vh;
  background-color: black;
  color: #fff;
}
.indexGetStartedInput{
    width: 580px;
}
.indexGetStartedBtn{
    width: 210px;
}
.IndexUnlimitedText{
    font-size: 3.125rem;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}
.centerContentIndex{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.indexGetStartedInputDiv{
    margin-left: -4rem;
    margin-top: 1rem;
}
.IndexWatchText{
    font-size: 1.625rem;
    font-weight: 400;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.IndexReadyText{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}