.LogInRootSection{
    background-image: url('../../../Images/netflixBackground.jpg');
    overflow: auto;
}
.logInSection{
    background-color: transparent;
}
.LogInForm{
    background-color: rgba(0,0,0,.75);
}
.LoginFormDiv{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}
.LoginSignInText{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 2rem;
}
.LogInInput{
    background: #333;
    border-radius: 4px;
    border: 0;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
}
.LogInInputPassword{
    margin-top: 1rem;
}
.LogInBtn{
    margin-top: 2rem;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    width: 100%;
    background: #e50914;
    min-width: 98px;
    min-height: 37px;
    height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LogInNewToNetflixText{
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.LogInSignUpText{
    color: #fff;
    cursor: pointer;
}
.LogInSignUpText:hover{
    text-decoration: underline;
}
